@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background: #0079bf;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1235px;
  margin: 0 auto;
}
