@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #0079bf;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.main-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1235px;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  flex-grow: 1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
